<!-- app/views/passwords_mailer/reset.html.erb -->
<p>An administrator requested a password reset for this account.</p>

<p>Click the link below to configure your security credentials:</p>

<%= link_to "Reset Admin Password", edit_admin_password_url(token: @user.password_reset_token) %>

<p>This secure link will expire in 15 minutes.</p>

