<div class="bandcamp-players">
  <iframe
    class="bandcamp-embed"
    src="https://bandcamp.com/EmbeddedPlayer/album=3770867506/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/"
    title="Bandcamp player for Magic Mirror EP by The Matildas"
    loading="lazy"
    seamless
  >
    <a href="https://matildas.bandcamp.com/album/magic-mirror-ep">Magic Mirror EP by The Matildas</a>
  </iframe>

  <iframe
    class="bandcamp-embed"
    src="https://bandcamp.com/EmbeddedPlayer/album=1816368499/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/"
    title="Bandcamp player for Dark Corners EP by The Matildas"
    loading="lazy"
    seamless
  >
    <a href="https://matildas.bandcamp.com/album/dark-corners-ep">Dark Corners EP by The Matildas</a>
  </iframe>

  <iframe
    class="bandcamp-embed"
    src="https://bandcamp.com/EmbeddedPlayer/album=3392802803/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/"
    title="Bandcamp player for Ample Shortage (Demo) by The Matildas"
    loading="lazy"
    seamless
  >
    <a href="https://matildas.bandcamp.com/album/ample-shortage-demo">Ample Shortage (Demo) by The Matildas</a>
  </iframe>

  <iframe
    class="bandcamp-embed"
    src="https://bandcamp.com/EmbeddedPlayer/album=3200630352/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/"
    title="Bandcamp player for Noise That Works (Demo) by The Matildas"
    loading="lazy"
    seamless
  >
    <a href="https://matildas.bandcamp.com/album/noise-that-works-demo">Noise That Works (Demo) by The Matildas</a>
  </iframe>
</div>
